<dx-chart
    [dataSource]="dataSource"
    palette="Soft"
    [valueAxis]="valueAxis"
    series="[{
        name: 'Нормальная задолженность',
        axis: 'debt',
        argumentField: 'date',
        valueField: 'debt',
        color: '#90ee90',
        opacity: 0.75
        },{
        name: 'Просроченная задолженность',
        axis: 'debt',
        argumentField: 'date',
        valueField: 'overDebt',
        color: '#ffd700',
        opacity: 0.75
        },{
        name: 'Проблемная задолженность',
        axis: 'debt',
        argumentField: 'date',
        valueField: 'overDebt30',
        color: '#ff6347',
        opacity: 0.75
    }]"
>
    <dxo-size  height="popheight*0.33"></dxo-size>
    <dxo-title [text]="lineChartTitle" horizontalAlignment="left">
        <dxo-font size="14"></dxo-font>
    </dxo-title>
    <dxo-common-series-settings argumentField="date" type="stackedarea">
        <dxo-label visible="false"></dxo-label>
        <dxo-point visible="false"></dxo-point>
    </dxo-common-series-settings> 
    <dxo-legend [visible]="false"></dxo-legend>
    <dxo-argument-axis argumentType="date">
        <dxo-label format="monthAndDay"></dxo-label>
        <dxo-grid [visible]="false"></dxo-grid>
    </dxo-argument-axis>
    <dxo-tooltip 
        [enabled]="true"
        [shared]="true"
        location="center"
        [customizeTooltip]="customizeTooltip"
        container="#charts"
        zIndex="100000"
    >
        <dxo-format type="currency" precision="2"></dxo-format>
    </dxo-tooltip>
</dx-chart>