<div class="dx-field" >
        <div class="dx-field-label">{{caption}}</div>
        <div class="dx-field-value">
           <dx-date-box
                [ngModel]="value"
                (ngModelChange)="onDateChange($event)"
                type="date">
            </dx-date-box>
        </div>
</div>
<!--
<div class="dx-field" *ngIf="!caption">
        <dx-date-box
                [ngModel]="value"
                (ngModelChange)="onDateChange($event)"
                type="date">
        </dx-date-box>
</div>
-->