
<dx-load-panel 
    [(visible)]="loadingPanelVisible"
    [position]="{ of: '#relev' }">
</dx-load-panel>

<dx-popup
    id="relev"
    class="popup"
    width="800"
    height="200"
    [showTitle]="true"
    [title]="title"
    [dragEnabled]="true"
    [closeOnOutsideClick]="true"
    [(visible)]="popupVisible"
>
    <div *dxTemplate="let data of 'content'">
        <dx-text-box (onValueChanged)="commentValueChanged($event)" [placeholder]="'PAYMENT_REQUEST_INFO_PAGE.POPUP_OPTIONS.PLACEHOLDER' | translate"></dx-text-box>
        <br/>
        <dx-button
            [text]="'TASK_COMMANDS.CANCEL' | translate"
            type="normal"
            icon=""
            style="float: right; margin-left: 20px"
            (onClick)="cancelFunc($event)">
        </dx-button>&nbsp;
        <dx-button
            [text]="'TASK_COMMANDS.OK' | translate"
            type="default"
            icon=""
            style="float: right"
            (onClick)="okFunc($event)">
        </dx-button>
    </div>
</dx-popup>

<dx-button
    [text]="'TASK_COMMANDS.NOT_RELEVANT' | translate"
    type="default"
    icon="trash"
    (onClick)="notRelevantButton($event)"
    [(visible)]="notRelevantVisible">
</dx-button>&nbsp;