<dx-popup
    class="popup"
    width="800"
    height="300"
    [showTitle]="false"
    [title]="title"
    [dragEnabled]="true"
    [closeOnOutsideClick]="true"
    [(visible)]="popupVisible"
>
    <div *dxTemplate="let data of 'content'">
        <h2>Комментарий</h2><br/>
        <dx-text-box (onValueChanged)="commentValueChanged($event)" [placeholder]="'PAYMENT_REQUEST_INFO_PAGE.POPUP_OPTIONS.PLACEHOLDER' | translate"></dx-text-box>
        <br/>
        <dx-button
            [text]="'TASK_COMMANDS.OK' | translate"
            type="normal"
            icon=""
            style="float: right; margin-left: 20px"
            (onClick)="okFunc($event)">
        </dx-button>&nbsp;
        <dx-button
            [text]="'TASK_COMMANDS.CANCEL' | translate"
            type="default"
            icon=""
            style="float: right"
            (onClick)="cancelFunc($event)">
        </dx-button>
    </div>
</dx-popup>
<!--"'POPUP_HEADERS.INDICATE_REASON.TITLE' | translate"-->