/deep/ * {
    font-family: "Helvetica Neue","Segoe UI",Helvetica,Verdana,san-serif;
}

/deep/ html {
}

/*
.desktop-layout .page {
    width: 1260px;
    margin: 0px auto;
    padding: 20px;
}
*/

/deep/ @media all and (min-width: 1028px) {
	header .content {
		min-width: 900px;
		max-width: 1270px;    
		padding: 0 50px;
		margin: 0 auto;
	}
}

/deep/ .desktop-layout header {
    background-color: rgb(27,37,45);
    color: #fff; 
}

/deep/ @media all and (max-width: 927px) {
	.desktop-layout header {
		height: 112px;
	}
}

/deep/ @media all and (min-width: 928px) {
	.desktop-layout header {
		height: 60px;
	}
}

/deep/ .desktop-layout #navBar .dx-nav-item {
    height: 60px;
}

/*
.desktop-layout footer {
    height: 10px;
    background-color: #343547;
    color: #fff;
}
*/
/deep/ .desktop-layout header .logo {
    width: 165px;
    height: 44px;
    margin-top: 8px;
    display: block;
    background-image: url('../../../assets/images/logo.png');
    float: left;
}
/* ------------------------------------------ top-menu -------------------------------------------------*/
/deep/ .top-menu {
    display: block;
    float: right;
    /*position: relative;
    left:320px;*/
    /*padding-left: 600px;*/
}
/deep/ .top-menu .dx-menu-item-popout {
    color: #fff;
}
/deep/ .top-menu .dx-item-content.dx-menu-item-content {
    margin-top: 15px;  
    padding-left:4px;
    padding-right:4px;  
}
/deep/ .top-menu .dx-submenu .dx-menu-item-wrapper {
    border-bottom: 1px solid #ddd;
}
/deep/ .top-menu .dx-submenu .dx-menu-item-wrapper:first-child {
    border-bottom: 1px solid #ddd; 
}
/deep/ .top-menu .dx-menu-item-wrapper:last-child {
    border-bottom: 0px none;  
}
/deep/ .top-menu .dx-menu-item-selected  {
    background-color: #da5859;
}
/deep/ .top-menu .dx-menu-item-expanded {
    background-color: #525362;    
}
/deep/ .top-menu .dx-menu-item-expanded, /deep/ .top-menu .dx-menu-item-focused, /deep/ .top-menu .dx-menu-item.dx-state-hover {
    background-color: #525362;
    color: #fff;
}
/deep/ .top-menu .dx-menu-item.dx-state-focused, /deep/ .top-menu .dx-menu-item.dx-state-active {
    background-color: #FEF4E7;
}
/deep/ .top-menu .dx-context-menu-container-border {
    border: 0px none;
}
/* -----------------------------------------------------------------------------------------------------*/

/deep/ .dx-menu .dx-menu-item-has-text .dx-menu-item-text {
    padding-left: 0px;
}

/deep/ .dx-submenu .dx-item-content.dx-menu-item-content {
    margin-top: 0px;
}

/deep/ div.dx-menu-item-wrapper {
    vertical-align: middle;
    margin-top: 0px;
}

/deep/ .dx-submenu li.dx-menu-item-wrapper {
    height:auto;
}

/deep/ .dx-menu-item-wrapper {
    height:60px;
}

/deep/ .dx-context-menu-content-delimiter {
    width: !important 0px;
}

/deep/ .desktop-layout .main-menu {
    width: 50%;
}

/deep/ header .dx-menu-horizontal {
    height: 60px;
    vertical-align: middle;
}

/deep/ header .dx-menu-item {

}

/deep/ header .dx-menu-item-text {
    padding: 16px 15px 13px 15px;
    font-size: 16px;
    color: #fff;
}

/deep/ header .dx-item.dx-tab {
    vertical-align: middle;
}

/deep/ header .dx-desktop-layout-main-menu .dx-nav-item.dx-tab-selected .dx-tab-text {
    font-size: 14px;        
}

/deep/ header .dx-desktop-layout-main-menu .dx-nav-item {
    background-color: rgb(27,37,45);
}

/deep/ header .dx-desktop-layout-main-menu .dx-nav-item.dx-tab-selected {
    background-color: #da5859;
    border-top: 0px none;
}

/deep/ header .dx-desktop-layout-main-menu .dx-nav-item.dx-tab-selected.dx-state-hover {
    background-color: #da5859;
    border-top: 0px none;
}

/deep/ header .dx-desktop-layout-main-menu .dx-nav-item.dx-state-hover {
    background-color: #525362;
    border-top: 0px none;
}

/deep/ header .dx-desktop-layout-main-menu {
    background-color: rgb(27,37,45);
}

/deep/ .link {
    text-decoration: underline;
    cursor: pointer;
}

/deep/ .dx-fieldset.login {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;

    .submit {
        text-align: center;
    }
}

/deep/ .sended-msg {
	width: 580px; 
	padding: 5px; 
	background-color: #dff0d8; 
	border-color: #d6e9c6; 
	color: #3c763d; 
	border-radius: 4px;
}

/deep/ @media all and (max-width: 1024px) {
	.dx-fieldset.login {
		width: 60%;
		margin-left: 20%;
		margin-right: 20%;

		.submit {
			text-align: center;
		}
	}
	.sended-msg {
		width: 100%;
	}
	.MessageCodeForm {
		width: 100%;
	}
}

/deep/ .MessageCodeButton {
    margin-top: 2em;
    padding-left: 88px;

    & > div:nth-child(1) {
        margin-right: 2em;
    }
}

/deep/ .MessageCodeForm {
    display: flex;

    & > div, & > label {
        margin-right: 10px;
        margin-top: auto;
        margin-bottom: auto;
    }

    & > div:nth-child(3) {
        margin-right: 2em;
    }
}

/deep/ .dx-toolbar {
}

/deep/ .dx-toolbar-background
{
  background-color: white;
}

/deep/ .dx-desktop-layout-toolbar {
    background-color: white;
    text-align: center;
    border-bottom-style: none !important;
}

/deep/ .dx-theme-generic-typography h2, .dx-theme-generic-typography .dx-font-l {
    font-size: 20px !important;
}

/deep/ .dx-datagrid-text-content {
    font-size: 14px !important;
}

/deep/ .dx-datagrid-total-footer {
    border-top: none !important;
}

/deep/ .nopadding {
    padding: 0;
}

/deep/ .doughnut-content {
    display: table-cell;
    background-color: transparent;        
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;    
    position: relative;
    /*width: 550px;*/    
}

/deep/ .doughnut-content .dashboard-bottom {   
    font-size: 14px;
    /*margin-top: 27%;
    margin-left: 41%;*/
    height: 100px;
    width: 100px;
    position: absolute;    
}

/deep/ @media all and (min-width: 927px) {
	.doughnut-content {
		width:550px;
	}
	.doughnut-content .dashboard-bottom {
		margin-top: 27%;
		margin-left: 41%;
	}
	.range-selector {
		width:1200px;
	}
}

/deep/ @media all and (max-width: 1024px) {
	.doughnut-content {
		width:50%;
	}
	.doughnut-content .dashboard-bottom {
		/*margin-top: 29%;*/
		margin-top: 33%;
		margin-left: 39%;
	}
	.range-selector {
		width:calc(100% - 50px);
	}
	.pageworkspace {
		width:91%;
		margin: 0 auto;
	}
	header .content {
		width:96%!important;
		margin: 0 auto;
	}
}

/deep/ @media all and (max-width: 1018px) {
	header .content {
		width: 100%;
	}
}

/deep/ @media all and (max-width: 927px) {
	.doughnut-content {
		width:50%;
	}
	.doughnut-content .dashboard-bottom {
		/*margin-top: 37%;*/
		margin-top: 42%;
		margin-left: 36%;
	}
	.range-selector {
		width:calc(100% - 50px);
	}
	.pageworkspace {
		width:91%;
		margin: 0 auto;
	}
}

/deep/ .dashboard-bottom .dashboard-text {   
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    text-align: center;
    vertical-align: middle;
}

/deep/ .doughnut-content2 {
    margin: 0 auto;
    background-color: transparent;        
    padding: 0;
    border: 0;
    outline: 0;    
    position: relative;
    width: 550px;    
}

/deep/ .doughnut-content2 .dashboard-bottom2 {   
    font-size: 14px;
    margin-top: 27%;
    margin-left: 41%;
    height: 100px;
    width: 100px;
    position: absolute;
}

/deep/ .dashboard-bottom2 .dashboard-text2 {   
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    text-align: center;
    vertical-align: middle;
}

/deep/ .desktop-layout .wrapper {
    /*min-width: 768px;*/
    max-width: 1270px;
}

/deep/ .pivotGridTextAlign {
    text-align: left;
}

/deep/ .right-arrow {
    background-image: url('../../../assets/images/next.png');
    float: right;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    height: 100%;
    padding-top: 120px;
}

/deep/ .dx-button.right-arrow {
    border: 0px none;
}

/deep/ .left-arrow {
    background-image: url('../../../assets/images/prev.png');    
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    display: inline-block;
    padding-top: 120px;
}

/deep/ .dx-button.left-arrow {
    border: 0px none;
}
