<!--<div class="desktop-layout" *ngIf="authorized" >
    <div class="page">
        <header>
            <div class="content">
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="logo" href="" title="Генератор"></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                        <dx-menu
                                #menu
                                cssClass= "top-menu"
                                activeStateEnabled="true"
                                focusStateEnabled="false" 
                                selectionMode="single"
                                [dataSource]="mainMenu"
                                displayExpr="text"
                                showFirstSubmenuMode="showFirstSubmenuModes"
                                orientation="horizontal"
                                submenuDirection="auto"
                                [hideSubmenuOnMouseLeave]="false"
                                (onItemClick)="itemClick($event)">
                                [(selectedItem)]="selectedItem"
                                [selectByClick]="true"
                        </dx-menu>
                       </ul>
                    </div>
                </nav>
            </div>
        </header>
    </div>
</div>-->
 <app-header></app-header>
<div class="content">
    <router-outlet></router-outlet>
</div>