<app-caption>{{"MONEY_CUSTOMER_RETURNS_PAGE.CAPTION" | translate}}</app-caption>

<div style="width: 100%; display: inline-block;">
    <div style="float:left;">
        <app-arrow-button width="25" height="50" [isLeft]="true" (buttonClick)="leftArrowClick()"></app-arrow-button>
    </div>
    <div style="float:left;">
        <app-range-selector #dateRangeSelector [rangeDataSource]="rangeDataSource" [series]="series" (rangeChanged)="onRangeChanged($event)"></app-range-selector>
    </div>
    <div style="float:left;">
        <app-arrow-button width="25" height="50" [isLeft]="false" [isDisabled]="nextBtnDisabled" (buttonClick)="rightArrowClick()"></app-arrow-button>
    </div>
</div>


<dx-check-box #checkBox style="margin-bottom: 15px"
    [value]="false"
    (onValueChanged)="onCheckBoxValueChanged()"
    text='{{"MONEY_CUSTOMER_RETURNS_PAGE.PIVOT_GRID.DATE_CHECKBOX_TITLE" | translate}}'
    >  
</dx-check-box>

<dx-pivot-grid #pivotGrid
        [showRowTotals]="false"
        [showColumnTotals]="false"
        [showColumnGrandTotals]="false"
        [allowSortingBySummary]="true"
        [allowExpandAll]="true"
        [allowFiltering]="true"
        [showBorders]="true"
        (onContextMenuPreparing)= "contextMenuPreparing($event)"
    >
        <dxo-data-source
            [fields]="fields"
            [store]="myStore"
        >
        </dxo-data-source>
        <dxo-field-chooser [enabled]="true">
        </dxo-field-chooser>
        <dxo-load-panel
            height="150"
            width="400"
            text="{{'LOADING_INDICATOR' | translate}}"
        >
        </dxo-load-panel>
        <dxo-field-panel
            [showFilterFields]="false"
            showFilterChooser="false"
            [allowFieldDragging]="true"
            [showDataFields]="false"
            [showColumnFields]="false"
            [showRowFields]="true"
            [visible]="true"
        >
        </dxo-field-panel>
</dx-pivot-grid>